/* - Weights: 400, 500, 700 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik','Courier New', Courier, monospace;
}

#root {
  max-width: 1440px;
  text-align: center;
}


header{
  aspect-ratio: 375/300;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./assets/pattern-bg-mobile.png');

  h1{
    color: var(--white);
    padding-top: 20px;
  }

  div{
    padding: 20px 0;

    &>*{
      padding: 16px;
    }

    input{
      font-size: 18px;
    }
  }

  .ip__data{
    background-color: var(--white);
    margin: 0 40px;
    list-style: none;

    h2{
      color: var(--DarkGray);
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .ip__info{
      font-size: 1.6em;
      font-weight: 500;
    }
  }


}

